# Prerequisites
*.d
.vscode
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/output
/.qtcreator
/.docker
PKGBUILD

# Devcontainer
.devcontainer/.vscode

# Test files
tests/*.mp4
tests/*.mov
tests/*.mkv
tests/test_parser
tests/test_validator
tests/test_converter# Contributors
